$black =					#000000
$blue =						#25a8e0
$dark-blue =				#2c3e50
$dark-grey-1 =				#252525
$dark-grey-2 =				#333333
$green =					#75bb49
$light-grey-1 =				#e5e5e5
$light-grey-2 =				#f2f2f2
$light-grey-3 =				#fafafa
$medium-grey =				#95a5a6
$red =						#d52b1e
$white =					#ffffff
$yellow =					#fcd900

// Colour Settings

$body-background =			$white
$body-text-colour =			$dark-grey-1
$headings-colour =			$black