$base-spacing-unit =		1.5em
$border-radius =			0.25em

$max-width =				1200px
$margin =					0.52083%
$column =					7.29177%

$gutter-width =				1rem
$outer-margin =				2rem
$gutter-compensation =		calc($gutter-width / 2 * -1)
$half-gutter-width =		calc($gutter-width / 2)
$screen-xs-min =			480
$screen-sm-min =			768
$screen-md-min =			992
$screen-lg-min =			1200
$container-sm =				calc(45rem + $gutter-width)
$container-md =				calc(60rem + $gutter-width)
$container-lg =				calc(70rem + $gutter-width)

$very-small-bp =			"only screen and (min-width: " + $screen-xs-min + "em)"
$small-bp =					"only screen and (min-width: " + $screen-sm-min + "em)"
$medium-bp =				"only screen and (min-width: " + $screen-md-min + "em)"
$large-bp =					"only screen and (min-width: " + $screen-lg-min + "em)"