script.
	//- function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
	//- loadCSS("styles/main.css");

	//- var _gaq = _gaq || [];
	//- _gaq.push(["_setAccount", "UA-XXXXXXXX-X"]);
	//- _gaq.push(["_trackPageview"]);

	//- (function() {
	//- 	var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
	//- 	ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
	//- 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	//- })();

script(src="[[main.min.js]]", async)

block scripts