// No need for comments here

.c-styleguide
	row()
	content-align(center)
	background				$light-grey-3
	padding					$base-spacing-unit

	&__header
		color				$dark-grey-2

	// &__example

	&__markup
		background			$dark-blue
		color				$medium-grey
		padding				0.5 * $base-spacing-unit

	&__section
		col(10)	
		background			$white
		border				1px solid $light-grey-1
		margin-bottom		$base-spacing-unit
		padding				$base-spacing-unit

		&__header
			color			$dark-grey-2

	// &__states

	&__subsection

		&__header
			border-bottom	1px solid $light-grey-1